body {
    font-family: Arial, sans-serif;
}

div {
    margin-bottom: 10px;
}

.svg-container {
    position: relative;
    display: inline-block;
}

#logo {
    position: absolute;
    top: 110px;
    right: 20px;
    width: 100px;
}

#svgContainer {
    width: 500px;
    height: 500px;
}
